[submodule "roles/workstation_packages"]
	path = roles/workstation_packages
	url = https://github.com/DO1JLR/role_install_workstaton_packages.git
[submodule "roles/i3wm"]
	path = roles/i3wm
	url = https://github.com/DO1JLR/ansible-role-i3wm.git
[submodule "roles/dotfiles"]
	path = roles/dotfiles
	url = https://github.com/DO1JLR/role_dotfiles.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/DO1JLR/role_sshd.git
[submodule "roles/ssh_auth"]
	path = roles/ssh_auth
	url = https://github.com/ffbsee/role-ssh_authorized_keys.git
[submodule "files/admin_ssh_keys"]
	path = files/admin_ssh_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
